
.container--sticky-header{
  
  margin-right: 350px;
  margin-top: 10px;
  justify-content:flex-start;
  max-width: 1528px;
}

.flexRowContent--main {
  background-color: #f0f0f0;
  max-width: 960px;
  max-height: 200px;
  justify-content: flex-end;
  align-items: center;
  margin-left: 202px;
  margin-right: 300px;
  display: flex;
  
}

.flexRowContent--main2 {
  background-color: #cf8f7fc7;
  justify-content: left;
  align-items: center;
  max-width: 1060px;
  display: flex;
  margin-left: 202px;
  margin-right: 300px;
}

.flexRow--main2{
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;

}

.flexCol--body{
  margin-left: 100px;
  margin-right: 100px; 
  justify-content: center;
  flex-wrap: nowrap;
}

.flexRowContent--menu-link{
  color: white;
  text-align: center;
  display: flex;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  font-family: "GothamMedium";
  text-transform: uppercase;
  padding-top: 10px;    
}

.flexRowContent{
  align-items: center;
  display: flex;
}

.flexRow--portadas{
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #05010a;
  color: #fff;
}

.flexRowContent--invite-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flexRowContent--main-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRow--portada1{
  margin-left: 100px;
  margin-right: 100px;
}

.flexRow--portada2{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px;
}
.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 12px;
}

.flexRow--deals {
  background-color: #ece5f3;
  padding: 4px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexRow--shelf01{
  background: rgb(243, 210, 202);
}

.flexRow--shelf02{
  background: peachpuff;
}

.flexRow--container-form {
  display: flex;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}
