.slideChildrenContainer--shelf{
    background:chocolate;
    display: flex;  
}

.buyButtonContainer--shelfUp :global(.vtex-button){
    background: black;
    border-radius: 0;
    border-color: black;
    width: 124.8px;
    height: 36px;
}

.image--shelfUp{
    width: 166px;
    height: 166px;
}


